
__pycache__/basic_del.cpython-312-pytest-7.4.4.pyc
__pycache__/conftest.cpython-312-pytest-7.4.4.pyc
__pycache__/constant.cpython-312.pyc
__pycache__/test_rstudio_project_create.cpython-312-pytest-7.4.4.pyc
pages/__pycache__/home_page.cpython-312.pyc
pages/__pycache__/login_page.cpython-312.pyc
pages/__pycache__/new_space_page.cpython-312.pyc
